<div class="card w-75 mb-3">
  <div class="card-body">
    <a href="/post/{{id}}">
      <h2 class="card-title">{{title}}</h2>
    </a>
    <p class="card-text">{{content}}</p>
    <div>
      <p>Posted by: <span>{{user.name}}</span></p>
      <p>{{format_date date_created}}</p>
      <a href="#" class="btn btn-primary">comment</a>
    </div>
  </div>
</div>