<div class="card flex mx-auto w-75 items-center justify-center mt-12  mb-4 max-w-lg">
    <div class="card-body">
        <h2 class="card-title">{{post.title}}</h2>
        <p class="card-text">{{post.content}}</p>
        <div class="row">
            <p>Posted by: <span>{{post.user.name}} on {{format_date post.date_created}}</span></p>
            <!--<a href="#" class="btn btn-primary">comment</a>-->
        </div>
    </div>
</div>
<!--add comment-->
<input type="hidden" id="post-id" name="post-id" value="{{post.id}}" />
<div class="flex mx-auto w-75 items-center justify-center mt-12  mb-4 max-w-lg">
    <form class="w-full max-w-xl bg-white rounded-lg px-4 pt-2 new-comment-form">
        <label for="comment-body">Add a comment:</label>
        <textarea type="text" class="form-control" id="comment-body" name="comment-body"
            placeholder="Comment"></textarea>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</input>
<!--render comments-->
<!--if there is any length to-->

<!--<div class="media flex pb-4 col-md-6 comment-list"></div>">
<div class="comments media-body">
    {{#each post.comment as |comments|}}
    <div class='inline-block items-center justify-center w-full max-w-xl bg-whitepx-4 pt-2 mt-5 py-3 shadow-lg'>
        <p class="inline-block text-base font-bold mr-2">{{comment.user.name}}</p>
        <span class="text-slate-500">{{format_date comment.date_created}}</span>
        <p>{{comment.content}}</p>
    </div>
    {{/each}}
</div>
</div>-->
{{#if comments.length}}
{{#each comments as |comment|}}
      <li>
        <p>Comment ID: {{comment.id}}</p>
        <p>Content: {{comment.content}}</p>
        <p>Date Created: {{comment.date_created}}</p>
        <p>User ID: {{commentUser.id}}</p>
        <p>User Username: {{comment.User.username}}</p>
        <p>Post ID: {{comment.Post.id}}</p>
        <p>Post Title: {{comment.Post.title}}</p>
      </li>
    {{/each}}
{{/if}}
<div class="py-8"></div>

<script src="/js/comment.js"></script>